.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1px
}

.display__data {

  width: 99%;
  height: 46vh;
  overflow: scroll;
}

.search__data {

  width: 49vw;
  height: 49vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.display__savedata {

  width: 49vw;
  height: 49vh;
  overflow: scroll;
}



@media screen and (max-width: 1024px) {
  .main {
      margin-left: 0;
  }
}