

.collection a.collection-item {
    color: black;
}

.collection .collection-item.active {
    background-color: var(--first-color);
    color: #eafaf9;
}

.articles__first {
display:flex;
flex-direction: row;
justify-content: space-evenly;
height: 16rem;

}
.title__article {
    display: flex;
    flex-wrap: wrap;
    width:15rem;
    height: 3rem;
    font-size: .8rem;
    
}
.img__article {
    width: 15rem;
    height: 10rem;
    min-width: 15rem;
    min-height: 10rem;
}

.author__article {
    width: 10rem;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--small-font-size);
}

.description__article {
    width: 40rem;
    height: 14rem;
    justify-content: center;
    margin-top: 1rem;

}


.publishedAt__article {
    margin-top: 5rem;
    width: 7rem;
    justify-content: center;
}

.displayBtn {
    margin: 2rem;
    margin-top: 5rem;
    
}